# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [83]:
# Set the date column as the DataFrame index
data = df.set_index('date')



print(len(data))
data.head()

19550

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [96]:
# Drop the date column
#????
del data['prcp']

### Compare June and December data across all years

In [76]:
from scipy import stats

In [97]:
# Filter data for desired months
june = data[data.index.strftime('%m') == '06']
dec = data[data.index.strftime('%m') == '12']
dec.tail()

                station  tobs
date
2016-12-27  USC00516128    71
2016-12-28  USC00516128    71
2016-12-29  USC00516128    69
2016-12-30  USC00516128    65
2016-12-31  USC00516128    65

In [100]:
# Identify the average temperature for June
print(len(june))
june['tobs'].mean()

1700

74.94411764705882

In [101]:
# Identify the average temperature for December
print(len(dec))
dec['tobs'].mean()

1517

71.04152933421226

In [141]:
yearsJ = june.groupby(june.index.strftime('%Y'))['tobs'].count()
yearsD = dec.groupby(dec.index.strftime('%Y'))['tobs'].count()

df2 = pd.DataFrame({
    'june counts': yearsJ,
    'dec counts': yearsD,
})
df2

      june counts  dec counts
date
2010          242       235.0
2011          227       223.0
2012          211       218.0
2013          217       234.0
2014          215       223.0
2015          203       184.0
2016          194       200.0
2017          191         NaN

In [142]:
stationsJ = june.groupby(june.station)['tobs'].count()
stationsD = dec.groupby(dec.station)['tobs'].count()

df3 = pd.DataFrame({
    'june stations':stationsJ,
    'dec stations': stationsD
})
df3

             june stations  dec stations
station
USC00511918            165           152
USC00513117            236           216
USC00514830            186           178
USC00516128            223           206
USC00517948            148           109
USC00518838             38            19
USC00519281            236           217
USC00519397            236           210
USC00519523            232           210

In [109]:
# Create collections of temperature data
june_list = []
dec_list = []

for temp in june['tobs']:
    if type(temp) == int:
        june_list.append(temp)

for temp in dec['tobs']:
    if type(temp) == int:
        dec_list.append(temp)

print(len(june_list))
print(len(dec_list))

1700
1517

In [77]:
# Run paired t-test
stats.ttest_rel(june_list, dec_list)

ValueError: unequal length arrays

### Analysis