# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [19]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [20]:
# Set the date column as the DataFrame index
df2 = df.set_index('date')
df2.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [21]:
# Drop the date column
# (already removed so dropping prcp column instead since we will not be using it for this project)
data = df2.drop('prcp', axis='columns')
data.head()

                station  tobs
date
2010-01-01  USC00519397    65
2010-01-02  USC00519397    63
2010-01-03  USC00519397    74
2010-01-04  USC00519397    76
2010-01-06  USC00519397    73

### Compare June and December data across all years

In [23]:
from scipy import stats

In [22]:
# Filter data for desired months
june = data[data.index.strftime('%m') == '06']
dec = data[data.index.strftime('%m') == '12']

In [24]:
# Identify the average temperature for June
print(len(june))
june['tobs'].mean()

1700

74.94411764705882

In [25]:
# Identify the average temperature for December
print(len(dec))
dec['tobs'].mean()

1517

71.04152933421226

In [27]:
# Create collections of temperature data
june_list = []
dec_list = []

# Use samples to get lists to equal size
samp = june.sample(1500)

# Remove any null values from lists
for temp in samp['tobs']:
    if type(temp) == int:
        june_list.append(temp)

# Do the same for the December values
samp2 = dec.sample(1500)
for temp in samp2['tobs']:
    if type(temp) == int:
        dec_list.append(temp)

In [28]:
# Run paired t-test
stats.ttest_rel(june_list, dec_list)

Ttest_relResult(statistic=30.748577647423215, pvalue=2.1776597178105305e-161)

### Analysis